<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @railmicropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @railmicropost.user_id %>
</p>

<%= link_to 'Edit', edit_railmicropost_path(@railmicropost) %> |
<%= link_to 'Back', railmicroposts_path %>
